Repository jeanralphaviles/prometheus_speedtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytype, pytest, mdl

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: file-contents-sorter
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
      - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.31.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
      - id: pytype
        name: pytype
        entry: pytype
        args: []
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        exclude: 'setup.py'
      - id: mdl
        name: mdl
        entry: mdl
        language: system
        types: [markdown]
default_language_version:
  python: python3

travis: Add pip install to Travis CL to reproduce #57.
  .travis.yml
Due: none

prometheus_speedtest: Bump version to 0.9.13.
  prometheus_speedtest/version.py
Due: pylint, pytype, pytest

pypi: Bump dependencies. Closes security vulnerability in #58.
  prometheus_speedtest/version.py
  requirements-dev.txt
  setup.py
Due: pylint, pytype, pytest

pypi: Bump dependencies. Increment to version 0.9.14.
  Dockerfile
  prometheus_speedtest/version.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pylint, pytype, pytest

pypi: Remove dependency on mock. Replace with unittest.mock.
  requirements-dev.txt
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest

pylint: Simplify .pylintrc.
  .pylintrc
Due: none

ci: Replace Travis CI with Github Actions.
  .github/workflows/python.yml
  .pre-commit-config.yaml
  .travis.yml
Due: none

readme: Add shields.io for Github Actions.
  README.md
Due: mdl

pre-commit: Remove no-commit-to-branch to prevent workflow execution failures.
  .pre-commit-config.yaml
Due: none

docker: Fix Python version specified in Dockerfile.
  Dockerfile
  README.md
Due: mdl

actions: Add deploy.yml to deploy to PyPI.
  .github/workflows/deploy.yml
  .github/workflows/python.yml
  prometheus_speedtest/version.py
  requirements-dev.txt
  setup.py
Due: pylint, pytype, pytest

actions: Add Docker release action.
  .github/workflows/deploy.yml
  README.md
Due: mdl

actions: Change github.ref to github.ref_name in deploy.yml.
  .github/workflows/deploy.yml
Due: none

actions: Run pypi publish and Docker push github.ref_type == 'tag'.
  .github/workflows/deploy.yml
Due: none

actions: Generate Artifact Attestations for Docker image deployment
  .github/workflows/deploy.yml
Due: none

actions: Add support for GitHub Container Registry.
  .github/workflows/deploy.yml
Due: none

actions: Pin python==3.12 in Python test.
  .github/workflows/deploy.yml
  .github/workflows/python.yml
Due: none

prometheus_speedtest: Update dependencies.
  Dockerfile
  prometheus_speedtest/version.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pylint, pytype, pytest

actions: Update actions dependencies.
  .github/workflows/deploy.yml
  .github/workflows/python.yml
Due: none

actions: Update Python version to latest.
  .github/workflows/deploy.yml
  .github/workflows/python.yml
Due: none

pre-commit: Update git pre-commit.
  .pre-commit-config.yaml
Due: none

pre-commit: Replace pytype with mypy.
  .pre-commit-config.yaml
  README.md
  prometheus_speedtest/prometheus_speedtest.py
  requirements-dev.txt
  setup.cfg
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest, mdl

pre-commit: Replace deprecated fix-encoding-pragma.
  .pre-commit-config.yaml
Due: none

actions: Add a github-release action.
  .github/workflows/deploy.yml
  .github/workflows/python.yml
Due: none
