Repository jeanralphaviles/prometheus_speedtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytype, pytest, mdl

pylint:
  name: pylint
  entry: pylint
  language: system

pytype:
  name: pytype
  entry: pytype
  args: []
  language: system

pytest:
  name: pytest
  entry: pytest
  language: system

mdl:
  name: mdl
  entry: mdl
  language: system

pre-commit: Enable all available pre-commit hooks.
  .pre-commit-config.yaml
  prometheus_speedtest/prometheus_speedtest.py
  prometheus_speedtest/version.py
  setup.py
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest

pre-commit: Move standard static analysis checks from travis.yml to pre-commit.
  .pre-commit-config.yaml
  .travis.yml
Due: none

pre-commit: Update pre-commit-hooks to v4.0.1.
  .pre-commit-config.yaml
Due: none

prometheus_speedtest: Update absl-py and prometheus-client dependencies.
  requirements.txt
  setup.py
Due: pylint, pytype

pre-commit: Pin requirements-dev versions to avoid unexpected build breakages.
  requirements-dev.txt
Due: none

prometheus_speedtest: Move mock to be a development requirement only.
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pylint, pytype

prometheus_speedtest: Update minor version after dependencies update.
  prometheus_speedtest/version.py
Due: pylint, pytype, pytest

docker: Tag Docker images with the prometheus_speedtest version.
  README.md
Due: mdl

pypi: Update requirements-dev.txt.
  prometheus_speedtest/prometheus_speedtest.py
  requirements-dev.txt
Due: pylint, pytype, pytest

pypi: Update requirements.txt.
  requirements.txt
  setup.py
Due: pylint, pytype

docker: Update Docker base image to python:3.9-alpine.
  Dockerfile
Due: none

pypi: Update setuptools dependency to 60.9.3.
  setup.py
Due: pylint, pytype

prometheus_speedtest: Bump version to 0.9.9.
  prometheus_speedtest/version.py
Due: pylint, pytype, pytest

pre-commit: Update pre-commit dependencies.
  .pre-commit-config.yaml
  prometheus_speedtest/prometheus_speedtest.py
Due: pylint, pytype, pytest

readme: Add Docker Pulls shield to README.md.
  README.md
Due: mdl

prometheus_speedtest: Append /probe to all localhost test URLs. Update version.
  README.md
Due: mdl

prometheus_speedtest: Replace port 9090 with 9516 as example in README.
  README.md
Due: mdl

prometheus_speedtest: Update dependencies in requirements.txt and setup.py.
  prometheus_speedtest/version.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: pylint, pytype, pytest

pytpe: Add return type hints to all return values, including __init__ calls.
  prometheus_speedtest/prometheus_speedtest.py
Due: pylint, pytype, pytest

travis: Add setuptools packaging step to Travis analysis.
  .travis.yml
  requirements-dev.txt
Due: none

travis: Remove chef-utils version override added in c7ec80bd42b4176ed552f17ed1b
  .travis.yml
Due: none

Force secure connection to speedtest.net
  prometheus_speedtest/prometheus_speedtest.py
Due: pylint, pytype, pytest

Update prometheus_speedtest_test.py
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest

fix test_test
  requirements-dev.txt
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest

revert test req change
  requirements-dev.txt
Due: none

travis: Update to Ubuntu 22.04 Jammy Jellyfish to address Ruby deprecation.
  .travis.yml
Due: none

travis: Update requirements-dev versions.
  requirements-dev.txt
Due: none

travis: Install Rust complier and cargo in .travis.yml
  .travis.yml
Due: none

prometheus_speedtest: Update package depdendencies.
  prometheus_speedtest/version.py
  requirements.txt
  setup.py
Due: pylint, pytype, pytest

prometheus_speedtest: Bump version to 0.9.12.
  prometheus_speedtest/version.py
Due: pylint, pytype, pytest

prometheus_speedtest: Run yapf formatter over code.
  prometheus_speedtest/prometheus_speedtest.py
  tests/prometheus_speedtest_test.py
Due: pylint, pytype, pytest

pypi: Fix broken PyPi package.
  setup.py
Due: pylint, pytype

Path conditions:
  pylint: any of: \.py$
  pytype: any of: \.py$
  pytest: any of: \.py$, but not: setup.py
  mdl: any of: \.(md|markdown|mdown)$
